/* Container for the entire note taker */
.notes-container {
  height: 100%;      /* Ensure it fills the parent panel's height */
  overflow: hidden;  /* Hide any overflow from the container */
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.notes-header {
  flex-shrink: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
  
  .notes-title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .notes-display {
    flex: 1;
    overflow-y: auto;
  
    /* For Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--color-bg2) transparent;
  }
  
  /* For WebKit browsers (Chrome, Safari) */
  .notes-display::-webkit-scrollbar {
    width: 8px;
  }
  
  .notes-display::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .notes-display::-webkit-scrollbar-thumb {
    background-color: var(--color-bg2);
    border-radius: 4px;
    border: 2px solid transparent;
  }
  
  /* Remove specific scrollbar buttons */
  .notes-display::-webkit-scrollbar-button:start:decrement,
  .notes-display::-webkit-scrollbar-button:end:increment {
    display: none;
    -webkit-appearance: none;
  }
  
